/* Footer
   ========================================================================== */
footer {
  padding: 3rem;
  background-color: $eerie-black;
}

.footer__logo {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
