.paginacion{
  text-align: center;
  background-color: $platinum;
  padding: 40px;
}

.btn__siguiente{
  background-color: $white;
  color: $raisin-black;
}

.btn__1{
  color: $raisin-black;
}

.btn__3{
  color: $raisin-black;
}

.btn__2{
  background-color: $nickel;
  color: $white;
}
